@charset "UTF-8";

*{
    font-family: "Verdana", sans-serif;
}
.page{
    width: 1200px;
   	margin:0px auto;
}
header, main, footer{
    border:1px solid black;
    padding:30px;
}
header{
    min-height: 100px;
}
main{
    min-height:600px;
    text-align: center;
}
footer{
    min-height:100px;
}
nav.top-menu{
    display:flex;
    flex-direction: row;
    vertical-align: middle;
    align-items:center;
}

nav >ul #QnA ul {
	list-style: none;
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255,0.5);
}

nav > ul > #QnA:hover ul{
	display: inline;
}
nav > ul > #QnA:hover ul li{
	display: block;
}
/* nav.top-menu a{ */
/*     text-decoration: none; */
/*     font-size:25px; */
/*     margin-right:1em; */
/* } */
img{
    margin:0px auto;
}

/*추가*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-size:20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
}

/* 홈페이지 전체적으로 사용할 공통 서식 디자인들 */

/* 영역 비율 설정 */
.area-100{ width: 100%; }
.area-90{ width: 90%; }
.area-80{ width: 80%; }
.area-70{ width: 70%; }
.area-60{ width: 60%; }
.area-50{ width: 50%; }
.area-40{ width: 40%; }
.area-30{ width: 30%; }
.area-20{ width: 20%; }
.area-10{ width: 10%; }

/* 여백용 row */
.empty-row{
    display: block;
    width:100%;
    height:50px;
}

/* 테두리 설정 */
.line-blue{ border:1px solid blue; }
.line-black{ border:1px solid black; }
.line-red{ border:1px solid red; }

/* 입력창 설정 */
.user-input, .user-area{
    padding:10px;
    font-size:20px;
    outline:none;
    border:1px solid black;
}
.user-input:focus, .user-area:focus{
    border:1px solid blue;
}
.user-area{
    resize: none;
}

.select_box {
	height: 40px;
}
/* 버튼 설정 */
.input-btn, .input-btn-negative{
    padding:10px;
    font-size:20px;
    background-color: rgb(208, 255, 255);
    color:black;
}
.input-btn:hover{
    background-color: rgb(200, 193, 253);
}
.input-btn-negative{
    background-color: orangered !important;
}
.input-btn-negative:hover{
    background-color: red !important;
}

.row{
    display: block;
    margin: 0px 0px;
}
.center{
    margin:0px auto;
}
.align-left{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.align-right{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

/* row에 들어갈 cell 속성 */
.cell{
   margin:auto 0;
}

/* 나머지 공간을 전부다 차지하는 속성(display:flex일 경우만) */
.fill{
    flex-grow: 1;
}

/* 테이블 속성 */
.user-table{
    border-collapse: collapse;
    margin: 40px auto;
}

.user-table th, .user-table td{
    font-size: 20px;
    padding: 10px;
}

.user-table .title{
    width:45%;
    text-align: left;
}

.user-table .detail{
    height: 250px;
    vertical-align: top;
}

.user-table .left{
    text-align: left;
}

.user-table .right{
    text-align: right;
}

/* 게시판 페이징 전용 스타일 */
.paging-wrap{
    margin: 0 auto;
}
.paging-wrap .paging-unit{
    display: inline-block;
    min-width: 20px;
    font-size: 20px;
    padding:10px;
    border:1px solid black;
}

.paging-wrap .active{
    border: 1px solid red !important;
    background-color: lightyellow;
}

/* 링크 스타일 */
a:link, a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;
}

/* 늘어나는 검색창 */
.easing-input-30, .easing-input-40,
.easing-input-50, .easing-input-70, .easing-input-80, .easing-input-90,
.easing-input-100{
    width: 100px;
    border: 1px solid black;
    outline: none;
    padding:10px;
    font-size: 20px;
    
/*    별도의 브라우저를 지정할 수도 있다(모든 브라우저의 사용을 위해서)*/
/*    -webkit-transition:width 0.5s ease-in-out; */
    transition: width 0.5s ease-in-out; 
}

.easing-input-30:focus{width:30%;}
.easing-input-40:focus{width:40%;}
.easing-input-50:focus{width:50%;}
.easing-input-70:focus{width:70%;}
.easing-input-80:focus{width:80%;}
.easing-input-90:focus{width:90%;}
.easing-input-100:focus{width:100%;}



.page_header{
	display: inline-block;
    width: 100%;
    padding: 20px 0px 40px 0px;
    text-align: center;
}

.list_head {
	margin-left: 0px;
	width: 1000px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.list_no {
	width: 10%;
    display: inline-block;
}

.content_head {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid;	
}

.list_content {
	padding: 0 10px;
    text-align: left;
}

.list_title {
	width: 80%;
    display: inline-block;
    margin-left: 5px;
/*     text-align: left; */
}



.contents_wrapper {
	border-top: 2px solid red;
    border-bottom: 1px solid;
}

.contents_desc {
	margin-left: 50px;
    padding: 20px 20px 20px 20px;
}

.content_table {
	width: 900px;
	background-color: rgb(255, 238, 244);
	margin-left: 100px;
}




/* 맨위로 가기 버튼 */
a.jcm-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 40px;
    /*background-color: rgba(50,50,50,0.5);*/
    background-color:#323232; opacity:0.5; filter:alpha(opacity=50); /*ie8 호환을 위한코드 위와 동일한 것임 호환필요없으면 한줄로 rgba적으면됨*/
    z-index: 999;
    display: none;
}
a.jcm-top:hover{background-color:#000}