@charset "EUC-KR";

table.type09 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	visibility:middle;
	width: 700px;
	margin: auto;
	margin-left: expression((( document.body.clientWidth > 800)? ((document.body.clientWidth-800)/2):
		 0)+ "px");
}

table.type09 thead th {
	padding: 30px;
	font-weight: bold;
	vertical-align: top;
	color: #369;
	border-bottom: 3px solid #036;
}

table.type09 tbody th {
	width: 50%;
	padding: 15px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #f3f6f7;
}

table.type09 td {
	width: 50%;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}
S